tuples

1. intro to tuplpe.
2. creating tuple.
3. accessing tuple elements.
4. tuple operations.
5. immutable nature of tuple.
6. tuple methods.
7. packing and unpacking tuple.
8. nested tuple.
9. practical exmaples and common types.

what is tuple

tuple are ordered collection of items that are immutable. they are similar to lists, but their immutability makes them different.

In [10]:
## creating a tuple

empty_tuple =()
print(empty_tuple)

print(type(empty_tuple))

()
<class 'tuple'>

In [11]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [54]:
numbers = tuple([1,2,3])  # type conversion
print(numbers)

## list can be converted into a tuple and vise versa

(1, 2, 3)

In [86]:
num=[1,2,3]

num

[1, 2, 3]

In [16]:
## mixed tuple 

mixed_tuple = (1, "hell0", 3.12, True)
print(mixed_tuple)

(1, 'hell0', 3.12, True)

In [17]:
## accessing a tuple element
num

[1, 2, 3]

In [19]:
print(num[1])

2

In [20]:
num[0:3]

[1, 2, 3]

In [21]:
num[::-1]

[3, 2, 1]

In [35]:
concatenation_tuple = num + mixed_tuple

print(concatenation_tuple)

## only concatenate list to list or tuple to tuple.

(1, 2, 3, 1, 'hell0', 3.12, True)

In [36]:
mixed_tuple * 3

(1, 'hell0', 3.12, True, 1, 'hell0', 3.12, True, 1, 'hell0', 3.12, True)

In [37]:
num * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [40]:
## immutable nature of tuple
## tuple are immutable meaning that their elements cannot be changed once assigned.

# like in list we can change the value of element. like below example.

lst = [1,12,3, 4,4,5 ]
print(lst)
    
lst[1] = "two"

print(lst)

# that means list are mutuable

[1, 12, 3, 4, 4, 5]
[1, 'two', 3, 4, 4, 5]

In [3]:
mixed_tuple

# mixed_tuple[1] = 2 # we cannot change i.e immutable nature

print(type(mixed_tuple))

print(mixed_tuple)

mixed_tuple[2] = 4

print(mixed_tuple)

NameError: name 'mixed_tuple' is not defined

In [2]:
a = (1,2,3,4,5)

print(type(a))
print(list(a))

<class 'tuple'>
[1, 2, 3, 4, 5]

In [94]:
c = [1,2,"mein", 2]

type(c)

c[2] = 3

print(c)

d = tuple(c)
print(d)

[1, 2, 3, 2]
(1, 2, 3, 2)

In [1]:
tp = (2, 3, 10)

type(tp)

print(list(tp))

[2, 3, 10]

In [14]:
## tuple methods

numbers = (1,2,3,4,2,4,2,2,6)

print(numbers.count(2))
    
print(numbers.index(3))

4
2

In [16]:
## packing and unpacking tuple

#packing
packed_tuple = 1,"hello", 3, 4.23

print(packed_tuple)

#unpacking
a,b,c,d = packed_tuple

print(a)
print(b)
print(c)
print(d)

(1, 'hello', 3, 4.23)
1
hello
3
4.23

In [17]:
## unpacking with *

numbers_un = (1,2,3,4,5,6)
first,*middle, last = numbers_un

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [23]:
## nested tuple
# nested list

lst = [[1,2,3,4],[5,6,7,8],[1,"hello",2.34,"c"]]

lst[0][0:3]

[1, 2, 3]

In [25]:
lst = [[1,2,3,4],[5,6,7,8],(1,"hello",2.34,"c")]

lst[2][0:3]

(1, 'hello', 2.34)

In [34]:
nested_tuple = ((1,2,3), ("a","b","c"), (True, False))


# access the elements inside a tuple

print(nested_tuple[2])
print(nested_tuple[0][2])

(True, False)
3

In [35]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False

## conclusion

tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. they are commonly used in data structures, functions arguments and return values, and as dictionary keys. understanding how to leverage tuples effectively can improve the efficiency and readability of your python code.