# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [9]:
# 1

s = set(range(1, 11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
# 2

s.add(11)
s

s.pop()
s

{4, 5, 6, 7, 8, 9, 10, 11}

In [26]:
# 3 

s1 = set(range(1,6))
s2 = set(range(2,12,2))

print(s1)
print(s2)

# union
union_set = s1.union(s2)
print(union_set)

# intersection
int_set = s1.intersection(s2)
print(int_set)

# difference

diff_set = s1.difference(s2)
print(diff_set)

# symmetic
sym_set = s1.symmetric_difference(s2)
print(sym_set)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [27]:
## 4

new_set = {i**2 for i in range(1,11) }
print(new_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [32]:
## 5
print(s)
even_set = {i for i in s if i%2==0}
print(even_set)

{4, 5, 6, 7, 8, 9, 10, 11}
{8, 10, 4, 6}

In [35]:
# 6
set0 = {1,2,3,2,4,4,2,3,2,5,1}
print(set(set0))

{1, 2, 3, 4, 5}

In [37]:
# 7
set_1 = set(range(1,6))
set_2 = set(range(1,4))

# check if set_2 is subset of set_1
print(set_2.issubset(set_1))
# check first set_1 is superset of set_2
print(set_1.issuperset(set_2))

True
True

In [38]:
# 8
fs = frozenset(range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [46]:
# 9 

ne_set = set(range(1,6))
print(ne_set)

lst =  list(ne_set)
print(lst)


lst.append(6)

res_set = set(lst)
print(res_set)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5, 6}

In [47]:
# 10
new_dic = {
    frozenset({1,2}): 10,
    frozenset({3,4}): 20,
    frozenset({5,6}): 30
}
print(new_dic)

{frozenset({1, 2}): 10, frozenset({3, 4}): 20, frozenset({5, 6}): 30}

In [49]:
## 11

iter_set = {1,2,3,4,5}

for i in iter_set:
    print(i)

1
2
3
4
5

In [53]:
##12
s  = set(range(1,6))
print(s)
while s:
    s.pop()
    print(s)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [56]:
#13

s1 = set(range(1,5))
s2 = set(range(2,6))

s1.symmetric_difference_update(s2)
print(s1)

{1, 5}

In [58]:
# 14

s = set(range(1,5))

print(2 in s)
print(10 in s)

True
False

In [59]:
# 15

se = {(1,2),(3,4),(5,6)}
print(se)

{(1, 2), (3, 4), (5, 6)}