In [3]:
## Declaration and assigning variables

age = 24
height = 5.9
name="Pranav"
is_student = True

## printing the variables

print("age :", age)
print("height :", height)
print("name :", name)

age : 24
height : 5.9
name : Pranav

In [1]:
a = 110

Video Outline - 

1. Introduction to Variable
2. Declaration and Assigning Variables
3. Naming Conventions
4. Understanding Variables types
5. Type checking and conversions
6. Dynamic typing
7. Practical Example and Common Errors.

In [4]:
## naming conventions
## variable name should be descriptive
## they must start with a letter or an '_' and a letter, number and underscore
## variable names are case sensitive


## valid variables names

first_name = "Pranav"
last_name = "Singh"

In [6]:
## invalid variables names
##2first = "Pranav"
##@name="Pranav"
##first-name = "Pranav"

In [7]:
##case sensitivity

name="pranav"
Name="singh"

name==Name

False

In [11]:
##understanding variables types
## python is dyanmically typed, meanns type of a variable is determined at runtime.

age=24 # int
height=5.9 #float
name="Pranav" # string
is_student=True #bool

print(type(name))

<class 'str'>

In [10]:
## type checking and cnversion

type(height)

float

In [14]:
age=25
age_str=str(age)
print(type(age_str))

<class 'str'>

In [15]:
age='25'

print(type(int(age)))

<class 'int'>

In [19]:
name="Pranav" ## because Pranav is a complete sentence and can not convert this into a string

print(type(int(name)))

ValueError: invalid literal for int() with base 10: 'Pranav'

In [27]:
height=5.9

print(int(height))

5

In [28]:
print(float(height))

5.9

In [29]:
## dynamic typing
##python allows the type of a variable to change as the program executes

age=23
print(age, type(age))

name="pranav"
print(name, type(name))

height=5.9
print(height, type(height))

23 <class 'int'>
pranav <class 'str'>
5.9 <class 'float'>

In [32]:
## input
age=int(input("tell me about your age"))
print(age,type(age))

24 <class 'int'>

In [34]:
## simple calculator


num1 = float(input("enter the first number"))
num2 = float(input("enter the second number"))

add = num1 + num2
substract = num1 - num2
multiply = num1 * num2
divide = num1 / num2

print("addition :", add)
print("subtraction :", substract)
print("divide :", divide)
print("multiply :", multiply)

addition : 20.0
subtraction : 0.0
divide : 1.0
multiply : 100.0