# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [6]:
## Create a tuple with the first 10 positive integers. Print the tuple.

tp = tuple(range(1,11))
print(tp)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
### Assignment 2: Accessing Tuple Elements

## Print the first, middle, and last elements of the tuple created in Assignment 1.

print(f"first element : {tp[0]}")
print(f"middle element: {tp[len(tp)//2]}")
print(f"last element: {tp[-1]}")

first element : 1
middle element: 6
last element: 10

In [24]:
### Assignment 3: Tuple Slicing

# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tp[:3])
print(tp[-3:])
print(tp[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [26]:
## nested tuple 

tuple = ( (1,2,3), (1,3,4), (1,2,10))

for i in tuple:
    print(i)

print(f"element at second row and third column : {tuple[1][2]}")

(1, 2, 3)
(1, 3, 4)
(1, 2, 10)
element at second row and third column : 4

In [27]:
## concatenation tuple

tp1 = (1,2,3)
tp2 = (4,5,6)

con = tp1 + tp2
print(con)

(1, 2, 3, 4, 5, 6)

In [30]:
## create a tuple with duplicate elements and count the occ of elements.

tp0 = (1,2,3,1,3,4,5,2,8,9)

print(f"occ of 1: {tp0.count(1)}")

print(f"index of 1 occ of an element: {tp0.index(2)}")

occ of 1: 2
index of 1 occ of an element: 1

In [35]:
### Assignment 7: Unpacking Tuples

# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tp = (1,2,3,4,5)

a,b,c,d,e = tp

print(a,b,c,d,e)

1 2 3 4 5

In [1]:
### Assignment 8: Tuple Conversion

## Convert a list of the first 5 positive integers to a tuple. Print the tuple.

d = list(range(1,6))

print(tuple(d))

(1, 2, 3, 4, 5)

In [7]:
### Assignment 9: Tuple of Tuples

# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tp = ((1,2,3), (4,5,6), (7,8,9))

print(tp)

### Assignment 10: Tuple and List

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [17]:
### Assignment 10: Tuple and List

# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tp  = tuple(range(1,6))
print(tp)

lst = list(tp)
print(lst)

lst.append(6)
print(lst)


tp0 = tuple(lst)
print(tp0)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [19]:
### Assignment 11: Tuple and String

## Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
set

tp9 = ('a', 'b','c','d','e','f')

print(''.join(tp9))

abcdef

In [20]:
### Assignment 12: Tuple and Dictionary

## Create a dictionary with tuple keys and integer values. Print the dictionary.

tpl_dict = {
    (1,2): 10,
    (3,4): 20,
    (5,6): 30
}

print(tpl_dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [24]:
### Assignment 13: Nested Tuple Iteration

# Create a nested tuple and iterate over the elements, printing each element.


nested_tpl = ((1,2,3), (4,5,6), (7,8,9))

for i in nested_tpl:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [26]:
### Assignment 14: Tuple and Set

# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tp = (1, 2,2,3,5 , 9, 9)

set_tp = set(tp)
print(set_tp)

{1, 2, 3, 5, 9}

In [31]:
### Assignment 15: Tuple Functions

## Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_max_sum(tpl):
    return min(tpl), max(tpl), sum(tpl)

tpl = (1, 2, 3, 4, 5)

print(min_max_sum(tpl))

(1, 5, 15)